.App {
  text-align: center;
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.control {
  height: 150px;
  margin-top: 20px;
}

.result {
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

